# Exclude node_modules folder
node_modules

# Exclude editor-specific files
.vscode/
.idea/

# Exclude log files
*.log

# Exclude temporary files
*.tmp

# Exclude .env file TODO: we keep it temporarily but its unsafe
#.env
