# Exclude node_modules folder
node_modules

# Exclude editor-specific files
.vscode/
.idea/

# Exclude log files
*.log

# Exclude temporary files
*.tmp

# Ignore logs
airflow-data/logs/

backend/__pycache__/
backend/.vscode/
backend/mlruns/
backend/node_modules