pandas
numpy
scikit-learn
matplotlib
seaborn
statsmodels
scipy
tensorflow
keras
xgboost
lightgbm
joblib
pvlib
windpowerlib
influxdb
prophet
kafka-python
prometheus_client
psycopg2
pulp
prophet
fastapi 
uvicorn 
psycopg2-binary